/* Hide scrollbar for all elements with the class 'scrollbar-hide' */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.faded-edges::before,
.faded-edges::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
}

.faded-edges::before {
  left: 0;
  background: linear-gradient(to right, #000 0%, rgba(0,0,0,0) 100%);
}

.faded-edges::after {
  right: 0;
  background: linear-gradient(to left, #000 0%, rgba(0,0,0,0) 100%);
}